<!DOCTYPE html>
{% load static %}
<html lang="en">
<meta charset="UTF-8">
<title>
    {% block title %}
        FitNova
    {% endblock %}
</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<body>
    <header>
        <div class="header-box">
            <h1>FitNova</h1>
            <nav>
                {% if user.is_authenticated %}
                    <form class='logout' action="{% url 'users:logout' %}" method='post'>
                        {% csrf_token %}
                        <button class='logout-button' aria-label='Logout' title='Logout'>Logout</button>
                    </form>
                {% endif %}
                <a href="/"> HOME</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'page:list' %}"> NEWS</a>
                    <a href="/membership"> MEMBERSHIP</a>
                    <a href="{% url 'tracking:page' %}"> TRACKING</a>
                {% else %}
                    <a href="{% url 'users:register' %}"> REGISTER</a>
                    <a href="{% url 'users:login' %}"> LOGIN</a>
                {% endif %}
            </nav>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>